{% extends "main/base.html" %}
{% load staticfiles%}
{% block title %} e-centreconvivial | Consultations{% endblock title %}
{% block content %}
{% include "main/menu.html" %}
<div class="consultation hide-on-med-and-down ">
    <ul class="slides">
      <div class="container">
        <div class="row">
          <div class="col l8 m8 s12">
            <br><br>
            <h2 class="white-text">Consultation IST</h2>
            <p class="white-text">Le Centre Convivial vous offre des services adaptés en matière de la prise en charge des infections sexuellement transmissible et du dépistage du VIH. En décrivant les maux dont vous souffrez, vous serez automatiquement référés vers une formation sanitaire la plus proche pour une consultation approfondie, un personnel qualifié
               serrait immédiatement informé de votre arrivée et vous accordera une attention particulière</p>
               <br>
               <a href="#" class="btn waves-effect white black-text">Consultation</a>
          </div>
        </div>

      </div>


    </ul>
  </div>


<p class="green">qeiuafdhcdsjbhcdhjsbc eiwsdhbc</p>
{% endblock content %}
