
{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}e-centreconvivial | Home{% endblock title %}
{% block content %}
{% include "main/menu.html" %}
<div class="main hide-on-med-and-down ">
    <ul class="slides">
      <div class="row top-home">
        <div class="col l8 m8 s12 offset-l2 offset-m2">
          <br><br>
          <h2 class="center-text white-text">Votre plateforme d'information Et de services adaptés</h2>
             <br>
             <a href="{% url  'new_assistance' %}" class="btn waves-effect white black-text">Connexion</a>
        </div>

    </ul>
  </div>
  <!-- about -->
  <div class="row about">
    <br>
    <div class="container">
      <div class="row">
        <div class="col l10 m10 s12 offset-l1">
          <h4>Qu'est ce que <span class="pink-text center-align">eCentre Convivial</span></h4>
          <p class="justify-text">
            est une solution numérique qui a pour objectif de favoriser l’accès des adolescents et des jeunes aux informations et aux services de soins et de santé en matière de la SSR/VIH/PF. Elle permet à son utilisateur de bénéficier des services adaptés tels que : conseils pratiques en matière de la santé sexuelle et du VIH avec possibilité de téléchargement en PDF et d’écoute en Français, Kabyè et Ewe ; la consultation pour la référence vers les centres conviviaux et formations sanitaires existants ; le Planning Familial, le Suivi du Cycle menstruel, le Suivi de grossesse ; l’Assistance en ligne grâce à une équipe de téléconseillers (Médecins, Gynécologues, Sages-femmes, Psychologues, Sociologues) et l’annonce des différents évènements sur le plan local, national, régional et international.

          </p>
        </div>

      </div>
    </div>
  </div>
  <!-- end about -->
  <!-- services -->
    <div class="services">
      <h3 class="pink-text center-align btm">eCentre Convivial</h3>
    <div class="row">
      <div class="col l4">
        <div class="row">
          <div class="col l8">
            <h5 class="right-align text-top">Consultation IST</h5>
          </div>
          <div class="col l4">
            <img src="{% static 'main/img/ist.png'%}" alt="" class="responsive-img">
          </div>
        </div>
        <div class="row">
          <div class="col l8">
            <h5 class="right-align text-top">Planning famillial</h5>
          </div>
          <div class="col l4">
            <img src="{% static 'main/img/planning.png'%}" alt="" class="responsive-img">
          </div>
        </div>
        <div class="row">
          <div class="col l8">
            <h5 class="right-align text-top">Suivi du cycle mensuel</h5>
          </div>
          <div class="col l4">
            <img src="{% static 'main/img/period.png'%}" alt="" class="responsive-img">
          </div>
        </div>
      </div>
      <div class="col l4">
        <div class="center-align">

          <img src="{% static 'main/img/ecentresvg.svg'%}" alt="" class="responsive-img">
        </div>
      </div>
      <div class="col l4">
        <div class="row">
          <div class="col l4">
            <img src="{% static 'main/img/assistance.png'%}" alt="" class="responsive-img">
          </div>
          <div class="col l8">

            <h5 class="left-align text-top">Assistance en ligne</h5>
          </div>

        </div>
        <div class="row">
          <div class="col l4">
            <img src="{% static 'main/img/suivi-grossesse.png'%}" alt="" class="responsive-img">
          </div>
          <div class="col l8">

            <h5 class="left-align text-top">Suivi de grossesse</h5>
          </div>

        </div>
        <div class="row">
          <div class="col l4">
            <img src="{% static 'main/img/conseil-icon.png'%}" alt="" class="responsive-img">
          </div>
          <div class="col l8">

            <h5 class="left-align text-top">Conseil pratique</h5>
          </div>

        </div>
      </div>
    </div>
    </div>
  <!-- end services -->

  <!-- last posts -->
<div class="last_post">
  <h3 class="center-align">CONSEILS PRATIQUES</h3>
  <div class="container">
    <div class="row">
      {% for post in posts %}
            <div class="col l4 m4 s12">
              <div class="card main-card" >
                        <div class="card-image">
                            <img src="{{post.cover.url}}" class="responsive-img">

                        </div>
                        <div class="card-content">
                            <a href="{{post.get_absolute_url}}" class="card-title medium">{{post.title }} </a>

                        </div>
                    </div>
            </div>
      {% endfor %}
    </div>
  </div>
</div>
  <!-- end last posts -->

  <!-- Call to action -->
<div class="row action">
  <div class="container">
    <div class="row">
      <div class="center-align">

      <i class="material-icons extra-large white-text">get_app</i>
      <p>
        <h1 class="white-text" style="margin-top:-0.1em;">Telecharger eCentre Convivial</h1>
      </p>
        <div class="row">
          <div class="col l4 offset-l4 m4 offset-m4 s10 offset-s1">
            <a href="#"><img src="{% static 'main/img/play.png'%}" alt="" class="responsive-img"></a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
  <!-- end call to action -->
{% endblock content %}
