{% load staticfiles %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">


            <a href="{% url 'index' %}" class="brand-logo">
                <img src="{% static "main/img/logo.svg" %}" width="45%" alt="">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">Accueil</a></li>

                <li><a class="dropdown-trigger" href="#!#" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="#">Conseils pratiques</a></li>
                <li><a href="#">Web TV</a></li>
                <li><a href="#">Jeux</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a class="waves-effect waves-light btn green darken-1" href="#">Mon compte</a></li>


            </ul>
             <!-- Dropdown Structure -->
              <ul id="dropdown1" class="dropdown-content">
                <li><a href="{% url 'consultation' %}">Consultation</a></li>
                <li><a href="{% url 'assistance' %}">Planning famillial</a></li>
                <li><a href="#!">Suivi du cycle mensuel</a></li>
                <li><a href="#!">Suivi de grossesse</a></li>
                <li><a href="{% url 'assistance' %}">Assistence en ligne</a></li>
                <li><a href="#!">Agenda</a></li>
              </ul>

        </div>
    </nav>
</div>
