{% load staticfiles %}
<div class="row" style="margin-top:2em;">
  <div class="col l1 offset-l2 m2 offset-m2 s6">
    <img src="{% static 'main/img/1.png' %}" alt="" class="responsive-img">
  </div>
  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/2.png' %}" alt="" class="responsive-img">
  </div>
  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/3.png' %}" alt="" class="responsive-img">
  </div>
  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/10.jpg' %}" alt="" class="responsive-img">
  </div>
  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/4.png' %}" alt="" class="responsive-img">
  </div>
  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/5.png' %}" alt="" class="responsive-img">
  </div>

  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/8.png' %}" alt="" class="responsive-img">
  </div>
  <div class="col l1  m2  s6">
    <img src="{% static 'main/img/9.png' %}" alt="" class="responsive-img">
  </div>
</div>
